<!doctype html>
<!-- Controller ici!-->
<link rel="stylesheet" href="styles/categories.css">
<link rel="stylesheet" href="styles/mytop.css">
<html class="no-js">
 				<!--<button class="btn btn-default"><a class="">Cinéma</a></button>
                <button class="btn btn-magick"><a class="">Sports &amp; Loisirs</a></button>
                <button class="btn btn-primary"><a class="">Musique</a></button>
                <button class="btn btn-success"><a class="">Accessoires</a></button>
                <button class="btn btn-warning"><a class="">People</a></button>
                <button class="btn btn-danger"><a class="">Jeux vidéos</a></button>
                <button class="btn btn-magick"><a class="">Télévisuel</a></button>
                <button class="btn btn-primary"><a class="">Destinations</a></button>-->

<div class="carousel fade-carousel slide" data-ride="carousel" data-interval="4000" id="bs-carousel">
  <!-- Overlay -->
  <div class="overlay"></div>
  <!-- Indicators -->
  <ol class="carousel-indicators">
    <li data-target="#bs-carousel" data-slide-to="0" class="active"></li>
    </ol>
  <!-- Wrapper for slides -->
  <!-- Il faudrai resize l'image... -->
  <div class="carousel-inner">
    <div class="item slides active">
      <div class="slide-1">
      <div class="hero">
        <div class="overlay"><hgroup>
            <h2>CATEGORIE NAME </h2>        
            <h3>DESCRIPTION</h3>
        </hgroup>
        </div>
      </div>
      </div>
    </div>
   </div>
  <button class="btn btn-info btn-pressure btn-sensitive" role="button">Add a new list</button>
  </div>
<hr>
 <ng-app="MyTopCtrl">
 <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                                    ITEM1
                            <div class="pull-right action-buttons">
                                <a class="trash"><span class="glyphicon glyphicon-th-list"></span></a>
                                <a class="flag"><span class="glyphicon glyphicon-user"></span></a>
                            </div>
                        </li>
                        <li class="list-group-item">
                                    ITEM2
                            <div class="pull-right action-buttons">
                                <a class="trash"><span class="glyphicon glyphicon-th-list"></span></a>
                                <a class="flag"><span class="glyphicon glyphicon-user"></span></a>
                            </div>
                        </li>
                        <li class="list-group-item">
                                    ITEM3
                            <div class="pull-right action-buttons">
                                <a class="trash"><span class="glyphicon glyphicon-th-list"></span></a>
                                <a class="flag"><span class="glyphicon glyphicon-user"></span></a>
                            </div>
                        </li>
                        <li class="list-group-item">
                                    ITEM4
                            <div class="pull-right action-buttons">
                                 <a class="trash"><span class="glyphicon glyphicon-th-list"></span></a>
                                <a class="flag"><span class="glyphicon glyphicon-user"></span></a>
                            </div>
                        </li>
                        <li class="list-group-item">
                                    ITEM5
                            <div class="pull-right action-buttons">
                                <a class="trash"><span class="glyphicon glyphicon-th-list"></span></a>
                                <a class="flag"><span class="glyphicon glyphicon-user"></span></a>
                            </div>
                        </li>
                    </ul>
                </div>
            </ng-app="MyTopCtrl">
 </html>

