 <link rel="stylesheet" href="styles/mytop.css">
 <article>
 <aside><ng-app="MyTopCtrl">
      <h3>Paneaux de modification</h3>
    <div class="container">
     <div class="col-md-6">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-list"></span> TITRE DE LA LISTE
                    <div class="pull-right action-buttons">
                        <div class="btn-group pull-right">
                            <button type="button" class="btn btn-default btn-xs dropdown-toggle" data-toggle="dropdown">
                                <span class="glyphicon glyphicon-cog" style="margin-right: 0px;"></span>
                            </button>
                            <ul class="dropdown-menu slidedown">
                                <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-pencil"></span>Edit</a></li>
                                <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-duplicate"></span>Copie</a></li>
                                <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-trash"></span>Delete</a></li>
                                <li><a href="http://www.jquery2dotnet.com"><span class="glyphicon glyphicon-flag"></span>Flag</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="panel-body">
                    <ul class="list-group">
                        <li class="list-group-item">
                                    ITEM1
                            <div class="pull-right action-buttons">
                                <a><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="trash"><span class="glyphicon glyphicon-trash"></span></a>
                                <a class="flag"><span class="glyphicon glyphicon-flag"></span></a>
                            </div>
                        </li>
                        <li class="list-group-item">
                                    ITEM2
                            <div class="pull-right action-buttons">
                                <a><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="trash"><span class="glyphicon glyphicon-trash"></span></a>
                                <a class="flag"><span class="glyphicon glyphicon-flag"></span></a>
                            </div>
                        </li>
                        <li class="list-group-item">
                                    ITEM3
                            <div class="pull-right action-buttons">
                                <a><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="trash"><span class="glyphicon glyphicon-trash"></span></a>
                                <a class="flag"><span class="glyphicon glyphicon-flag"></span></a>
                            </div>
                        </li>
                        <li class="list-group-item">
                                    ITEM4
                            <div class="pull-right action-buttons">
                                <a><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="trash"><span class="glyphicon glyphicon-trash"></span></a>
                                <a class="flag"><span class="glyphicon glyphicon-flag"></span></a>
                            </div>
                        </li>
                        <li class="list-group-item">
                                    ITEM5
                            <div class="pull-right action-buttons">
                                <a><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="trash"><span class="glyphicon glyphicon-trash"></span></a>
                                <a class="flag"><span class="glyphicon glyphicon-flag"></span></a>
                            </div>
                        </li>
                    </ul>
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal"> Close</button> <button type="button" class="btn btn-default pull-left" data-dismiss="modal"> <span class="glyphicon glyphicon-plus-sign"></span> Add</button> <button type="button" class="btn btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-minus-sign"></span> Remove</button><button type="button" class="btn btn-default pull-left" data-dismiss="modal"><span class="glyphicon glyphicon-star"></span> Favoris </button>  
      <hr>

    <a href="https://www.facebook.com/bootsnipp"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
    <a href="https://twitter.com/bootsnipp"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
    <a href="https://plus.google.com/+Bootsnipp-page"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a>
    <a href="mailto:bootsnipp@gmail.com"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a>
</div>
</div>
</div>
</div>
</ng-app="MyTopCtrl">
</aside>
      <h3>Paneaux détails de la liste</h3>
    <div class="container">
            <div class="panel panel-primary">
                <div class="panel-heading">
                    <span class="glyphicon glyphicon-list"></span> TITRE DE LA LISTE

                </div>
                <div class="panel-body">
                    <ul class="list-group"> 
                        <li class="list-group-item">
                                    Titre
                            <div class="pull-right action-buttons">
                                <a><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="trash"><span class="glyphicon glyphicon-trash"></span></a>
                            </div>
                        </li>
                        <li class="list-group-item">
                                    Tag
                            <div class="pull-right action-buttons">
                                <a><span class="glyphicon glyphicon-pencil"></span></a>
                                <a class="trash"><span class="glyphicon glyphicon-trash"></span></a>
                            </div>
                        </li>
                        <li class="list-group-item">
                                    Nombre de view
                            <div class="pull-right action-buttons">
                                <a><span class="glyphicon glyphicon-eye-open"></span></a>
                            </div>
                        </li>
                        <li class="list-group-item">
                                    Nombre de follower
                            <div class="pull-right action-buttons">
                                <a><span class="glyphicon glyphicon-eye-open"></span></a>
                            </div>
                        </li>
                    </ul>
        <button type="button" class="btn btn-default pull-left" data-dismiss="modal"> Editer <span class="glyphicon glyphicon-pencil"></span></button>
      <hr>
    <a href="https://www.facebook.com/bootsnipp"><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
    <a href="https://twitter.com/bootsnipp"><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
    <a href="https://plus.google.com/+Bootsnipp-page"><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a>
    <a href="mailto:bootsnipp@gmail.com"><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a>
</div>
</div>
</div>

</article>