<!-- Wrap all page content here -->
<div id="wrap" class="">
    <!-- Fixed navbar -->
    <div class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> <span class="icon-bar"></span>
 <span class="icon-bar"></span>
 <span class="icon-bar"></span> 
                </button> <a target="_blank" href="#" class="navbar-brand">Toppy Home</a>

            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav">
                    <li class="active"><a href="#" class="">My Toppy</a>

                    </li>
                    <li ><a target="_blank" class="">Rechercher</a>

                    </li>
                    <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown">Les Catégories
                    <span class="caret"></span>
                    

                        <ul class="dropdown-menu">
                            <li><a href="#" class="">Cinéma</a>

                            </li>
                            <li><a href="#" class="">Sports &amp; Loisirs</a>

                            </li>
                            <li><a href="#" class="">Musique</a>

                            </li>
                            <li><a href="#" class="">Cuisine</a>

                            </li>
                            <li><a href="#" class="">Accessoires</a>

                            </li>
                            <li><a href="#" class="">People</a>

                            </li>
                            <li><a href="#" class="">Jeux vidéos</a>

                            </li>
                            <li><a href="#" class="">Télévisuel</a>

                            </li>
                            <li><a href="#" class="">Destinations</a>

                            </li>
                        </ul>

                    </li>
                </ul>
                <ul class="nav navbar-nav navbar-right" ng-hide="false">
                    <li class="dropdown"> <a class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span>&nbsp;
                        <strong class="">USERNAME</strong>
                        <span class="glyphicon glyphicon-chevron-down"></span>
                    </a>

                        <ul class="dropdown-menu">
                            <li>
                                <div class="navbar-login">
                                    <div class="row" >
                                        <div class="col-lg-4">
                                            <p class="text-center"> <span class="glyphicon glyphicon-user icon-size"></span>

                                            </p>
                                        </div>
                                        <div class="col-lg-8">
                                            <p class="text-left"><strong class="">PSEUDONYME</strong>

                                            </p>
                                            <p class="text-left small">prenom.nom@email.com</p>
                                            <p class="text-left"> <a href="#" class="btn btn-primary btn-block btn-sm">Mettre à jour mes données</a>

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="navbar-login navbar-login-session">
                                    <div class="row">
                                        <div class="col-lg-12">
                                            <p class=""> <a href="#" class="btn btn-danger btn-block">Se Deconnecter</a>

                                            </p>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
                
                <!-- CREER LES BUTTON DE CONNECTION -->
                <ul class="nav navbar-nav navbar-right" ng-hide="true">
                    <a href="views/user.html" class="btn btn-default">Se connecter</a>
                    <a href="#" class="btn btn-default">S'incrire</a>
                    
                </ul>
            </div>
        </div>
        <!--/.nav-collapse -->
    </div>
    <!-- Begin page content -->
    <div class="container">
        <div class="page-header">
             <h1 class="">BIENVENUE sur TOPPYSHARES!</h1>

        </div>
        <p class="lead">Pin a fixed-height footer to the bottom of the viewport in desktop browsers
            with this custom HTML and CSS. A fixed navbar has been added within
            <code class="">#wrap</code>with <code class="">padding-top: 10px;</code> on the <code class="">.container</code>.</p>
      <hr>
        <!-- Liste de contenus -->
        <div class="list-group"> <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Souhaitons la bienvenue!</h4>
    <p class="list-group-item-text">USER1 s'est inscrit et à créer sa première liste!</p>
  </a>
 <a href="#" class="list-group-item primary">
    <h4 class="list-group-item-heading">Souhaitons la bienvenue!</h4>
    <p class="list-group-item-text">USER2 s'est inscrit et à créer sa première liste!</p>
  </a>
 <a href="#" class="list-group-item active">
    <h4 class="list-group-item-heading">Souhaitons la bienvenue!</h4>
    <p class="list-group-item-text">USER3 s'est inscrit et à créer sa première liste!</p>
  </a></div>
      <hr>
        <!-- Default panel contents -->
        <div class="panel panel-info">
            <!-- Default panel contents -->
            <div class="panel-heading">STATISTIQUES</div>
            <div class="panel-body">
                <p class="">Description</p>
            </div>
            <!-- Table -->
            <table class="table">
                <tbody>
                    <tr>
                        <td>
                            <div class="panel panel-info">
                                <center>
                                    <p class="">WorldClass</p>
                                </center>
                                <div class="panel-heading">STATISTIQUES</div>
                                <div class="panel-body">
                                    <canvas id="radar" class="chart chart-radar" data="data" labels="labels"></canvas>
                                    <div class="list-group">	<a href="#" class="list-group-item list-group-item-info">Liste 1</a>

                                        <a href="#" class="list-group-item list-group-item-info">Liste 2</a>	<a href="#" class="list-group-item list-group-item-info">Liste 3</a>

                                            <a href="#" class="list-group-item list-group-item-info">Liste 4</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="panel panel-success">
                                <center class="">What's up there?</center>
                                <div class="panel-heading">Les 10 dernières listes partagées</div>
                                <div class="panel-body">
                                    <p class=""></p>
                                    <div class="list-group">	<a href="#" class="list-group-item list-group-item-success">Liste 1</a>

                                        <a href="#" class="list-group-item list-group-item-success">Liste 2</a>	<a href="#" class="list-group-item list-group-item-success">Liste 3</a>

                                            <a href="#" class="list-group-item list-group-item-success">Liste 4</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                        <td>
                            <div class="panel panel-warning">
                                <center class="">Toppy's Awards</center>
                                <div class="panel-heading">Les 10 Meilleurs utilisateurs</div>
                                <div class="panel-body">
                                    <p class=""></p>
                                    <div class="list-group">	<a href="#" class="list-group-item list-group-item-warning">Liste 1</a>

                                        <a href="#" class="list-group-item list-group-item-warning">Liste 2</a>	<a href="#" class="list-group-item list-group-item-warning">Liste 3</a>

                                            <a href="#" class="list-group-item list-group-item-warning">Liste 4</a>
                                    </div>
                                </div>
                            </div>
                        </td>
                    </tr>
                    <tr>
                        <td><a href="#" class="">+ de stats ici</a>

                        </td>
                        <td><a href="#" class="">+ de sortie ici</a>

                        </td>
                        <td><a href="#" class="">Ce qui fait leur succes ici</a>

                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
        <!-- Footer-->
        <div class="">
            <p class="">Back to <a href="../sticky-footer" class="">the default sticky footer</a> minus
                the navbar.</p>
            <!-- Social networks -->
            <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet" class="">
            <!-- // -->
                <div class="text-center center-block">
                  <a href="https://www.facebook.com/bootsnipp" class=""><i id="social" class="fa fa-facebook-square fa-3x social-fb"></i></a>
                  <a href="https://twitter.com/bootsnipp" class=""><i id="social" class="fa fa-twitter-square fa-3x social-tw"></i></a>
                  <a href="https://plus.google.com/+Bootsnipp-page" class=""><i id="social" class="fa fa-google-plus-square fa-3x social-gp"></i></a>
                  <a href="mailto:bootsnipp@gmail.com" class=""><i id="social" class="fa fa-envelope-square fa-3x social-em"></i></a>
                </div>
            </div>
            <div id="push" class=""></div>
        </div>
    </div>