<html>
<link rel="stylesheet" href="styles/mytop.css">
<body ng-app="testFrontEndApp">
<div ng-controller="UsertopCtrl">
 <article>
    <h1>Les tops de {{myTops[0].user.name}}</h1>


<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Ses listes</div>

  <!-- List group -->
<ul class="list-group" ng-repeat="top in myTops" ng-hide="noTop">
  <a href="#userTop/{{top.id}}">
  <li class="list-group-item" >
      {{top.title}}
    <span class="badge">{{top.items.forked_top_id.length}}</span>
  
         <!-- 
          <li class="list-group-submenu-item "><span class="glyphicon glyphicon-remove"></span></li>
          <li class="list-group-submenu-item warning"><span class="glyphicon glyphicon-pencil"></span></li> -->
  </li>
  </a>

</ul>


<ul class="list-group" ng-show="noTop">
  <li class="list-group-item" >
    Cet utilisateur n'a pas de top.
   
      <!-- pas pour l'instant 
      <ul class="list-group-submenu">
          <li class="list-group-submenu-item "><span class="glyphicon glyphicon-remove"></span></li>
          <li class="list-group-submenu-item warning"><span class="glyphicon glyphicon-pencil"></span></li>
      </ul> -->
  </li>


  </li>
</ul>
</div>

<div class="panel panel-default">
  <!-- Default panel contents -->
  <div class="panel-heading">Ses listes Favorites</div>
  <!-- List group -->
<ul class="list-group">
  <li class="list-group-item" >
      Ma liste 1
    <span class="badge">14</span>
      <ul class="list-group-submenu">
          <li class="list-group-submenu-item "><span class="glyphicon glyphicon-remove"></span></li>
          <li class="list-group-submenu-item warning"><span class="glyphicon glyphicon-ok"></span></li>
      </ul>
  </li>
  <!--
  <li class="list-group-item">
      Ma liste 2 <span class="badge">20</span>

      <ul class="list-group-submenu">
          <li class="list-group-submenu-item "><span class="glyphicon glyphicon-remove"></span></li>
          <li class="list-group-submenu-item warning"><span class="glyphicon glyphicon-ok"></span></li>
      </ul>
  </li>
  <li class="list-group-item">
      Ma liste 3
    <span class="badge">50</span>
      <ul class="list-group-submenu">
          <li class="list-group-submenu-item "><span class="glyphicon glyphicon-remove"></span></li>
          <li class="list-group-submenu-item warning"><span class="glyphicon glyphicon-ok"></span></li>
      </ul>
  </li> -->
</ul>

</div>

</article>
<div>
</div>
</div>
</body>
</html>